* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color-primary);
    font: var(--paragraph);
}

:root {
    /*Produto*/

    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;

    /*base*/
    --bg-color: #111a2e;
    --stroke-color: #1E293B;
    
    /*texts*/
    --text-color-primary: #F1F5F9;
    --text-color-secondary: #CBD5E1;

    /*typography*/
    --font-family: "Archivo", sans-serif;


    --h1: 800 24px/135% var(--font-family);
    --h2: 800 16px/140% var(--font-family);
    --h3: 800 14px/140% var(--font-family);

    --text-span: 600 14px/140%;
    --paragraph: 400 14px/140% var(--font-family);
}

main {
    margin-block: 40px;
    row-gap: 80px;
    column-gap: 32px;

    grid-template-columns: 2fr 1.5fr;

    grid-template-areas: 
    "featured featured"
    "weekly weekly"
    "ai aside";

}

.content-tag {
    display: inline-block;
    background-color: var(--brand-color-dark);
    padding: 4px 8px;
    border-radius: 4px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-weight: 500 10px/1.2 var(--font-family) ;
    color: var(--text-color-primary);

    box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.212);
}